<html>
<head>
	<title></title>
	
</head>
<body>

<div class="top-space">
	<div class="row center-xs">

		<div class="col-xs-8 col-md-10 ">
		    <div class="box">

		    	<div class="row">

		    		<div class="col-lg-2 col-sm-3 col-xs-10 ">
					    <div class="box">

					    	<ul class="remove-bullet-points text-left">
					    		<li> <%= link_to "Explorar", "#" %> </li>
					    		<li> <%= link_to "Sugerencias", "#" %> </li>

		    				</ul>

					    	

					    </div>
					</div>

					<div class="col-xs-10 col-sm">
					    <div class="box">
					    	<%= render "posts/form" %>

					    </div>
					</div>

					<div id="posts"></div>



		    	</div>

		    </div>
		</div>

	</div>
</div>

</body>
</html>




