<!DOCTYPE html>
<html>
<head>
    
    <title></title>
</head>
<body class="main-background">

<div class="full-height row middle-xs white-text center-xs no-margin ">
<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
    <div class="box">
        <div class="big-padding blue white-text top-space bordeRedondo">
          <h1 class= "no-margin bold light-blue-text">Log in</h1>
          
            <div class="top-space">
                <%= render "devise/sessions/logIn" %>
                <%= render "devise/shared/links" %>  
            </div>
    <!--    <%= link_to "Crear cuenta", new_user_registration_path%>  -->
        </div>
    </div>
</div>
</div>


</body>
</html>

